body{
    font-family: 'Source Code Pro', monospace;
    background-color: #FDF2DB;
}
.main{
    padding-top: 97px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'DM Serif Display', serif;
    text-align: left;
}
p{
    font-size: 14px;
    text-align: left;
}
.text-link {
    color: #FDF2DB;
    text-transform: uppercase;
    font-weight: 700;
}
.dark-bg{
    background-color: #842A3A;
}
.text-small{
    font-size: 12px;
}
@media (max-width:767px){
    .main{
        padding-top: 87px;
    }
}